@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import "tailwindcss";

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@theme{
  --font-display: "Funnel Display", sans-serif;

}