# Ignore node_modules for both client and server
client/node_modules
server/node_modules

# Ignore build folders
client/dist
server/dist

# OS + IDE stuff
.DS_Store
*.log

# .env files in root and all folders
.env
*/.env
**/.env

